

.detail-content p{
    font-size:1.4rem;
	line-height:2.2rem;
}

.detail-content h1{
    font-size:2.4rem;
	line-height: 3.2rem;
}

.detail-content h2{
    font-size:1.8rem;
	line-height: 2.9rem;
}

.detail-content h3{
    font-size:1.5rem;
    line-height: 2.6rem;
}

.detail-content span{
	font-size:1.4rem;
	line-height:2.2rem;
}

.detail-content u{
	font-size:1.4rem;
	line-height:2.2rem;
}

.detail-content i,em{
	font-size:1.4rem;
	line-height:2.2rem;
	
}

.detail-content b,strong{
	font-size:1.4rem;
	line-height:2.2rem;
	
}
