.user-detail-top {
  width: inherit;
  height: 80px;
  text-align: center;
}

.user-detail-info > ul {
  display: flex;
  justify-content: space-between;
}

.user-detail-top h2 {
  font-size: 2.6rem;
  color: #62564e;
}

.user-detail-info > ul > li {
  font-size: 1.6rem;
  font-weight: 700;
  color: #74675d;
  padding-top: 30px;
  display: inline-block;
}

.user-detail-info > ul > li:nth-child(2) {
  width: 760px;
  text-align: right;
}

.user-detail-info > ul > li:last-child {
  padding-right: 30px;
}

.detail-content {
  text-align: center;
  color: #62564e;
  padding: 40px 35px 30px 35px;
  min-height: 200px;
}

/*그냥 더미 기능 구현할 때 지우기*/
.dummy-h5 {
  font-size: 2rem;
  padding-top: 15px;
}

.dummy-p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
}

.dummy-h6 {
  font-size: 1.8rem;
  text-align: left;
}

.dummy-img {
  margin: 15px 0;
}

.user-detail-bottom {
  padding: 15px 35px;
  margin-top: 20px;
}

.free-user-reply {
  min-height: 30px;
}

.user-detail-reply {
  height: 130px;
}

.user-reply-title {
  font-size: 1.6rem;
  font-weight: 400;
  color: #62564e;
}

.user-reply-size {
  font-size: 1.6rem;
  color: #b8bd58;
  font-weight: 700;
}
/*업데이트시*/
.reply-update-form {
  margin: 20px 0;
  padding: 10px 10px;
  background-color: #f7f2e1;
  display: none;
}

.free-reply-update-username {
  color: #62564e;
  font-size: 1.2rem;
  padding-left: 4px;
  padding-top: 2px;
}
/*덧글 작성*/
.free-user-reply {
  padding: 10px;
}
.free-user-reply > h5 {
  display: inline;
  font-size: 1.4rem;
  font-weight: 400;
  color: #62564e;
}

h5.free-reply-userdate {
  font-size: 1.2rem;
  padding-left: 10px;
}

.user-reply-update {
  display: inline-block;
  margin-left: 5px;
}

.user-reply-update > li {
  display: inline;
}

.user-reply-update > li:nth-child(2) {
  margin-left: 2px;
}

.user-reply-update li > a {
  color: #62564e;
}

.free-reply-content {
  margin-top: 10px;
  font-size: 1.4rem;
  color: #62564e;
  line-height: 2.2rem;
}

textarea#free-user-reply-textarea {
  width: 830px;
  height: 100px;
  border: 1px solid #d0cece;
  resize: none;
  color: #62564e;
  padding: 10px;
  font-size: 1.2rem;
  margin-top: 10px;
}

textarea#free-user-reply-textarea:focus {
  outline: none;
}

textarea::-webkit-input-placeholder {
  color: #b8b1b1;
}
textarea::-moz-input-placeholder {
  color: #b8b1b1;
}
textarea::-o-input-placeholder {
  color: #b8b1b1;
}
textarea::-ms-input-placeholder {
  color: #b8b1b1;
}

.free-reply-send {
  display: inline-block;
  padding: 5px 15px;
  position: relative;
  top: -9px;
  left: 2px;
  color: white;
  background-color: #62564e;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.4s;
}

.free-reply-send:focus {
  outline: none;
}

.free-reply-send:hover {
  background-color: #b8bd58;
}

.free-detail-list {
  height: 130px;
}

.free-detail-list > ul > li {
  display: block;
  width: 910px;
  height: 40px;
  padding-top: 12px;
  margin: 0 auto;
}

.free-detail-list > ul > li:first-child {
  border-top: 1px solid #b8b1b1;
  border-bottom: 1px solid #b8b1b1;
}

.free-detail-list > ul > li:last-child {
  border-bottom: 1px solid #b8b1b1;
}

.free-detail-list > ul > li > a {
  color: #62564e;
  font-size: 1.4rem;
}

.free-detail-list > ul > li > a:hover {
  text-decoration: underline;
}

.free-detail-list > ul > li > i {
  color: #62564e;
  margin-right: 10px;
}

.free-allList-page-go {
  display: inline-block;
  padding: 5px 15px;
  margin-top: 10px;
  margin-left: 32px;
  color: white;
  background-color: #62564e;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.free-allList-page-go:focus {
  outline: none;
}

.update-btn-box {
  margin-top: 10px;
  padding-top: 10px;
  height: 40px;
}

.go-update-register,
.delete-btn {
  text-align: right;
}

.update-register,
.delete-btn {
  display: inline-block;
  padding: 6px 20px;
  color: white;
  font-size: 1.1rem;
  background-color: #62564e;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 2px;
}

.update-register:focus,
.delete-btn:focus {
  outline: none;
}
.delete-btn {
  margin-right: 30px;
}
